* {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center; }

h3 {
  text-align: center; }

.card-producto {
  margin: 0 10px 0 10px;
  text-align: center; }
  .card-producto__btn-card {
    margin-top: 10px;
    font: size 1.5rem;
    width: 15vw;
    max-width: 300px;
    padding: 10px 0 10px 0; }
